<h1>THIS IS FRIENDS LISTS</h1>
<h2>Here it goes::::)))</h2>
<% for(var i=0; i<arr.length;i++) {%>
   <li><%= arr[i]%></li>
<%}%>

<form action="/addfriend" method="POST">
      <input type="text" name="newfriend" placeholder="Name">
      <button>I HAVE  NEW FRIEND</button>
</form>